$primary: #aa0601;
$secondary: #650300;
$third: #fbf2f2;
$dark: #000;
$light: #fff;
$gray: #555;

$base: 1rem;

$font-size: (
  1: $base * 4,
  //64
  2: $base * 3,
  //48
  3: $base * 2.625,
  //42
  4: $base * 2.25,
  //36
  5: $base * 2,
  //32
  6: $base * 1.5,
  //24
  7: $base * 1.25,
  //20
  8: $base * 1.125,
  //18
  9: $base,
  //16
  10: $base * 0.875,
  //14
);

$spaces: (
  1: $base * 0.25,
  //4
  2: $base * 0.5,
  //8
  3: $base * 0.75,
  //12
  4: $base,
  5: $base * 1.5,
  //24
  6: $base * 2,
  //32
  7: $base * 2.5,
  //40
  8: $base * 5,
  //80
  9: $base * 3,
  0: 0,
);
