<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GLASSES</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="banner">
      <div class="container">
        <div class="banner-desc">
          <h3 class="fs-4 fs-sm-9 text-secondary fw-regular">Promise-Desert 2020 早春系列</h3>
          <h2 class="fs-1 fs-sm-6 text-secondary fw-bold mb-1">看得清，才能看得遠</h2>
          <a href="#" class="banner-btn fw-medium">立即購買</a>
        </div>
      </div>
    </section>
    <section class="feature bg-third py-8 py-sm-7">
      <div class="container">
        <h2 class="mb-9 mb-md-5 fs-2 fs-sm-6 fw-bold text-secondary text-center">用專業的心，做專業的事</h2>
        <ul class="feature-list">
          <li class="feature-item mb-md-5">
            <img src="../assets/images/home-section2-1.png" alt="單一價格icon" width="83px" class="mb-5" />
            <h3 class="mb-2 fs-6 text-secondary fw-bold">單一價格</h3>
            <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="feature-item mb-md-5">
            <img src="../assets/images/home-section2-2.png" alt="快速取件icon" width="83px" class="mb-5" />
            <h3 class="mb-2 fs-6 text-secondary fw-bold">20 分鐘即可取件</h3>
            <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="feature-item mb-md-5">
            <img src="../assets/images/home-section2-3.png" alt="售後服務icon" width="83px" class="mb-5" />
            <h3 class="mb-2 fs-6 text-secondary fw-bold">安心售後服務</h3>
            <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="feature-item">
            <img src="../assets/images/home-sectioin2-4.png" alt="關於鏡片icon" width="83px" class="mb-5" />
            <h3 class="mb-2 fs-6 text-secondary fw-bold">關於鏡片</h3>
            <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="classic py-8 py-sm-7">
      <div class="container">
        <h2 class="mb-9 mb-sm-5 fs-2 fs-sm-6 fw-bold text-secondary text-center">經典系列鏡框</h2>
        <ul class="classic-list">
          <li class="classic-item mb-md-5">
            <a href="product-optical.html" class="stretched-link"
              ><img src="../assets/images/home-section3-1.png" alt="OPTICAL" class="mb-2"
            /></a>
            <h3 class="text-center fs-2 font-italic fw-bold text-primary">OPTICAL</h3>
          </li>
          <li class="classic-item mb-md-5">
            <a href="product-sunglasses.html" class="stretched-link"
              ><img src="../assets/images/home-section3-2.png" alt="SUNGLASSES" class="mb-2"
            /></a>
            <h3 class="text-center fs-2 font-italic fw-bold text-primary">SUNGLASSES</h3>
          </li>
          <li class="classic-item">
            <a href="#" class="stretched-link"
              ><img src="../assets/images/home-section3-3.png" alt="FUNCTIONAL" class="mb-2"
            /></a>
            <h3 class="text-center fs-2 font-italic fw-bold text-primary">FUNCTIONAL</h3>
          </li>
        </ul>
      </div>
    </section>
    <section class="brand py-8 py-sm-7">
      <div class="container">
        <h2 class="mb-9 mb-sm-5 fs-2 fs-sm-6 fw-bold text-light text-center">聯名設計鏡框</h2>
        <ul class="brand-list">
          <li class="brand-item mb-md-5">
            <picture>
              <source media="(max-width: 767px)" srcset="../assets/images/home-section4-1-sm.png" />
              <source media="(min-width: 768px)" srcset="../assets/images/home-section4-1.png" />
              <img src="../assets/images/home-section4-1.png" alt="DOUBLE A+" />
            </picture>
            <h3 class="text-center py-2 fs-2 font-italic fw-bold text-primary bg-light">DOUBLE A+</h3>
          </li>
          <li class="brand-item">
            <picture>
              <source media="(max-width: 767px)" srcset="../assets/images/home-section4-2-sm.png" />
              <source media="(min-width: 768px)" srcset="../assets/images/home-section4-2.png" />
              <img src="../assets/images/home-section4-2.png" alt="YOUTH" />
            </picture>
            <h3 class="text-center py-2 fs-2 font-italic fw-bold text-primary bg-light">YOUTH</h3>
          </li>
        </ul>
      </div>
    </section>
    <section class="comment py-8 py-sm-7">
      <div class="container">
        <h2 class="mb-9 mb-sm-5 fs-2 fs-sm-6 fw-bold text-secondary text-center">顧客推薦</h2>
        <ul class="comment-list">
          <li class="comment-item mb-md-5">
            <img src="../assets/images/home-section5-1.png" alt="Jessy" />
            <div class="comment-item-body">
              <div class="comment-item-desc">
                <p class="mb-2">Jessy</p>
                <p>眼鏡品質優良，下次還會想來這邊購買！</p>
              </div>
              <time class="fs-10">2021/06/20</time>
            </div>
          </li>
          <li class="comment-item mb-md-5">
            <img src="../assets/images/home-section5-2.png" alt="凱倫" />
            <div class="comment-item-body">
              <div class="comment-item-desc">
                <p class="mb-2">凱倫</p>
                <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
              </div>
              <time class="fs-10">2021/04/18</time>
            </div>
          </li>
          <li class="comment-item mb-md-5">
            <img src="../assets/images/home-section5-3.png" alt="悠悠" />
            <div class="comment-item-body">
              <div class="comment-item-desc">
                <p class="mb-2">悠悠</p>
                <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
              </div>
              <time class="fs-10">2020/12/25</time>
            </div>
          </li>
          <li class="comment-item mb-md-5">
            <img src="../assets/images/home-section5-4.png" alt="Kyuan" />
            <div class="comment-item-body">
              <div class="comment-item-desc">
                <p class="mb-2">Kyuan</p>
                <p>服務很好，品質沒有任何問題，非常喜歡。</p>
              </div>
              <time class="fs-10">2020/10/31</time>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="contact bg-third py-8 py-sm-7">
      <div class="container">
        <div class="contact-wrapper">
          <h2 class="mb-9 mb-sm-5 fs-2 fs-sm-6 fw-bold text-secondary text-center">聯絡我們</h2>
          <p class="mb-5 fs-7 fs-sm-9">
            我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
          </p>
          <form action="">
            <ul class="contact-list mb-9">
              <li class="contact-item mb-4">
                <label for="name" class="mb-2">姓名</label>
                <input id="name" type="text" placeholder="陳小明" class="input" />
              </li>
              <li class="contact-item mb-4">
                <label for="phone" class="mb-2">聯絡電話</label>
                <input id="phone" type="text" placeholder="0912-345-678" class="input" />
              </li>
              <li class="contact-item mb-4">
                <label for="mail" class="mb-2">電子郵件</label>
                <input id="mail" type="text" placeholder="example@email.com" class="input" />
              </li>
              <li class="contact-item mb-4">
                <label for="opinion" class="mb-2">意見反應</label>
                <textarea id="opinion" cols="30" rows="8" placeholder="請輸入您的意見" class="input"></textarea>
              </li>
              <li class="check-privacy">
                <input id="privacy" type="checkbox" class="checkbox" />
                <label for="privacy" class="check-privacy-desc"
                  >我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label
                >
              </li>
            </ul>
            <button type="submit" class="contact-btn btn btn-primary">確認送出</button>
          </form>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
